/*기본 설정*/
body{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    color:#333;
  }
  
  a{
    text-decoration:none;
  }
  
  a:link{
    color:black;
  }
  
  a:visited{
    color:black;
  }
  
  a:hover{
    color:black;
  }
  
  a:active{
    color:black;
  }
  /**/
  
  
  /*메인 css*/
  .wrap_mainframe {
    position:relative;
    display:flex;
    align-items:center;
    justify-content:center;
  }
  
  .wrap_mainframe .mainframe {
    display:flex;
    align-items:flex-start;
    justify-content:center;
    margin-top:40px;
    width:1280px;
    height:860px;
  }
  /**/


  .wrap_mainframe .mainframe .content {
    display:flex;
    flex-direction:column;
    width:480px;
    padding:24px;
    border:1px solid #ededed;
    border-radius:15px;
    box-sizing:border-box;
  }

  .wrap_mainframe .mainframe .content .title {
    font-size:16px;
    font-weight:bolder;
  }

  .wrap_mainframe .mainframe .content .agree_div {
    display:flex;
    width:432px;
    justify-content:left;
    align-items:center;
    margin-top:16px;
    margin-bottom:8px;
    font-size:14px;
  }

  .wrap_mainframe .mainframe .content .explain_div {
    display:flex;
    flex-direction:column;
    width:432px;
    justify-content:center;
    align-items:top;
    font-size:12px;
    color:#a6a6a6;
  }