body{
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color:#333;
}

a{
  text-decoration:none;
}

.inner {
  width:1100px;
  margin: 0 auto;
  position: relative;
  background-color: white;
}

header {
  /*position: fixed;*/
  position:relative;
  top:0;
  z-index: 9;
  width:100%;
  border-bottom: 1px solid #c8c8c8;
}

header .inner {
  height: 60px;
  width: 100%;
}

header .main-menu{
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}

header .main-menu .blank{
  width: calc(100% / 3);
}

header .main-menu .wrap_category{
  display:flex;
  justify-content: center;
  align-items: center;
  width: calc(100% / 3);
  height: inherit;
}

header .main-menu .wrap_category .main_category{
  padding:4px 4px 19px 4px;
  margin-top:15px;
  margin-right:10px;
  margin-left:10px;
  height:22px;
}

header .main-menu .wrap_category .main_category_mypage{
  padding:4px 4px 19px 4px;
  margin-top:15px;
  margin-right:10px;
  margin-left:10px;
  height:22px;
}


header .main-menu .wrap_othermain{
  display: flex;
  justify-content: right;
  align-items: center;
  width: calc(100% / 3);
}

header .main-menu .main_category{
  padding: 0px 25px 0px 25px;
}


header .main-menu .main_category .profile{
  display:flex;
  padding: 0px 25px 0px 25px;
}

header .main-menu .search{
  position: relative;
  height: 30px;
}

header .main-menu .search input{
  width: 36px;
  height: 30px;
  padding: 4px 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  background-color: #fff;
  color: #777;
  font-size: 12px;
  transition: width .4s;
}

header .main-menu .search input:focus{
  width: 190px;
  border-color: #ea9926;
}

header .main-menu .search .material-icons {
  height: 24px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5px;
  margin: auto;
  transition: .4s;
}

header .main-menu .search.focused .material-icons {
  opacity: 0;
}
/* 여기까지 inner */


header .sub_category {
  display:flex;
  position:absolute;
  align-items:center;
  justify-content:center;
  width:100%;
  height:60px;
  background-color: #0d339a;
  left:0;
  top:100%;
  transition : height .4s;  
}

header .sub_category.hide{
  height:0;
} 

header .sub_category .wrap_sub_category {
  display:none;
  justify-content:center;
  align-items:center;
}

header .sub_category .wrap_sub_category .sub_menu_content {
  padding:10px 25px 10px 25px;
  color:white;
}
/* 서브메뉴 css */


.wrap_mainframe {
  position:relative;
  display:flex;
  justify-content:center;
  align-items:center;
}
.wrap_mainframe .mainframe {
  position:relative;
  width:70%;
  height:860px;
  background-image: url(/jspark.jpg);
}