/*기본 설정*/
body{
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color:#333;
}

a{
  text-decoration:none;
}

a:link{
  color:black;
}

a:visited{
  color:black;
}

a:hover{
  color:black;
}

a:active{
  color:black;
}

/*게시판 보드용 css*/
.board_base{
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  align-items:center;
  width:400px;
  height:364px;
}

.board_base:last-child{
  margin-bottom:0;
}

.board_base .board_header {
  display:flex;
  justify-content:center;
  align-items:flex-end;
  margin-bottom:18px;
  height:24px;
}

.board_base .board_header .title {
  display:flex;
  justify-content:left;
  align-items:center;
  width:200px;
  height:24px;
  font-size:20px;
  font-weight:bolder;
}

.board_base .board_header .more {
  display:flex;
  justify-content:right;
  align-items:center;
  width:200px;
  font-size:10px;
}

.board_base .board_content {
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:14px;
  margin-bottom:30px;
  height:17px;
}

.board_base .board_content:last-child {
  margin-bottom:0;
}

.board_base .board_content .board_post{
  display:flex;
  justify-content:left;
  align-items:center;
  height:17px;
  width:200px;
}

.board_base .board_content .post_time{
  display:flex;
  justify-content:right;
  align-items:center;
  height:17px;
  width:200px;
}
/**/



/*메인프레임 css*/
.wrap_mainframe {
  position:relative;
  display:flex;
  align-items:center;
  justify-content:center;
}

.wrap_mainframe .mainframe {
  display:flex;
  align-items:center;
  justify-content:center;
  margin-top:40px;
}
/**/


/*첫번째 단락*/
.wrap_mainframe .mainframe .firstdivision {
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  align-items:center;
  background-color: white;
  width:400px;
  margin-right:40px;
}

.wrap_mainframe .mainframe .firstdivision .boardblock{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  width:400px;
  height:364px;
}
/**/





/*두번째 단락*/
.wrap_mainframe .mainframe .seconddivision {
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  align-items:center;
  background-color: white;
  width:400px;
  margin-right:40px;
}

.wrap_mainframe .mainframe .seconddivision .boardblock{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  width:400px;
  height:364px;
}
/**/





/*세번째 단락*/
.wrap_mainframe .mainframe .thirddivision {
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  align-items:center;
  background-color: white;
  width:400px;
  height:364px;
  margin-right:40px;
}

.wrap_mainframe .mainframe .thirddivision .calendar {
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  align-items:start;
  width:400px;
  height:364px; 
}

.wrap_mainframe .mainframe .thirddivision .calendar .calendar_title {
  display:flex;
  justify-content:center;
  align-items:flex-end;
  margin-bottom: 36px;
}

.wrap_mainframe .mainframe .thirddivision .calendar .calendar_title .title {
  display:flex;
  justify-content:left;
  align-items:center;
  width:200px;
  height:24px;
  font-size:20px;
  font-weight:bolder;
}

.wrap_mainframe .mainframe .thirddivision .calendar .calendar_title .more {
  display:flex;
  justify-content:right;
  align-items:flex-end;
  width:200px;
  font-size:10px;
}

.wrap_mainframe .mainframe .thirddivision .calendar .calendartoday {
  display:flex;
  justify-content:left;
  align-items:center;
  height:15px;
  margin-bottom:14px;
  font-size:12px;
}

.wrap_mainframe .mainframe .thirddivision .calendar .day {
  width:57px;
  height:20px;
  margin-right:2px;
  font-size:12px;
}
/**/



.homebutton {
  height:30px;
  width:30px;
  background-color: red;
}