table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid black;
    padding: 8px;
  }
  
  thead th {
    background-color: #ddd;
  }
  
  th:first-child, td:first-child {
    text-align: center;
    font-weight: bold;
  }
  
  th {
    height: 40px;
  }
  
  td {
    height: 60px;
  }